.appointment-form {
    /* width: 80%; */
    margin: 50px auto;
    padding: 50px 100px;
    background-color: #F1F7FD;
}

.form-group label {
    font-weight: bold;
    margin-left: 3px;
}

.appointment-form form {
    margin-top: 20px;
}

.appointment-form form button {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px
}