.testimonal>.user-image{
    border: solid black 1px;
    height: 18rem;
    width: 18rem;
    margin: 0px 70px;
    background-image: url('C:/Users/CHANDRA MOULI/Desktop/team/team-5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.5s;
}

.user-image>div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    transition: 0.7s;
    color:transparent;
}


.user-image:hover>div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
}


.testimonal-slider{
    margin: 50px 40px;
}